<!DOCTYPE html>
	<html>
	<head>
		<title>{{title}}</title>
		{{{css}}}
		<script type="text/template" id="itemTemplate">
				<div class="span4">					
					<p class="title">
						<input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>> 
						<%= title %>
					</p>
				</div>
				<div class="span2"><button class="delete btn">delete</button></div>
		</script>
		
		<script type="text/template" id="headingTemplate">
			<div id="<%= category %>" class="row-fluid">
				<div class="span12"><h3><%= category %></h3></div>
			</div>
		</script>
		
		<script type="text/template" id="listTitleTemplate">
			<p><a href="#" class="listLink"><%= title %></a></p>
		</script>
		
		<script type="text/template" id="listHeadingTemplate">
			<div class="well">
				<h2><%= title %></h2>
				<p>Completed: 
					<input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>> 
				</p>
				<div id="newItemForm">
					<p>New item:</p>
					<input id="newItemTitle" placeholder="Title"/>
					<input id="newItemCategory" placeholder="Category" />
					<button id="newItemSave" class="btn">Save</button>
				</div>
			</div>
		</script>
		
		<script type="text/template" id="listDisplayTemplate">
			<div id="main">
				<div id="itemContainer"></table>
			</div>
		</script>


	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="span2">
					<div id="newListForm">
						
					</div>	
					<div id="listingContainer">
						<form class="form-inline">
							<input id="newListTitle" class="input-mini" placeholder="title" />
							<button id="newListSave" placeholder="save">Save</button>
						</form>
						
					</div>
				</div>
				<div class="span10">
					<div id="listExpress">

					</div>
				</div>
			</div>
		</div>
	{{{js}}}
	<script src="/javascripts/models/item.js"></script>
	<script src="/javascripts/models/list.js"></script>
	<script src="/javascripts/collections/items.js"></script>
	<script src="/javascripts/collections/lists.js"></script>
	<script src="/javascripts/views/item.js"></script>
	<script src="/javascripts/views/listTitle.js"></script>
	<script src="/javascripts/views/list.js"></script>
	<script src="/javascripts/views/user.js"></script>
	<script src="/javascripts/views/app.js"></script>
	<script src="/javascripts/list-express.js"></script>

	</body>
</html>
