doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/vendor/zepto.min.js')
    script(src='/javascripts/vendor/backbone.min.js')
    script(src='/javascripts/vendor/lodash.min.js')
  body
    block content